.ListNode .icon {
  width: 1em;
  height: 1em;
  margin: 0.2em 0.2em 0.2em 0;
  user-select: none;
  border-radius: 0.2em;
}

.ListNode .remove-item:hover {
  background-color: #ffc5c5;
}


.ListNode .create-item:hover {
  background-color: #33ffc5;
}

