.ListNode .icon {
  width: 1em;
  height: 1em;
  margin: 0 0.1em;
  user-select: none;
  border-radius: 0.2em;
}

.ListNode .remove-item:hover {
  background-color: #ffc5c5;
}


.ListNode .create-item:hover {
  background-color: #33ffc5;
}


.ListNode .content {
  padding: 0.25em;
  margin-right: 0.5em;
}

