@import '../define';

.ListNode {
  position: relative;
  margin-left: 1em;
  .line {
    position: relative;
    padding-left: 1em;
    .bullet {
      border-radius: 100%;
      border: 5px solid lighten($bullet-color, 60%);
      position: absolute;
      left: -0.5em;
      top: 0.3em;
      display: block;
      width: 1em;
      height: 1em;
      cursor: move;
      background-color: lighten($bullet-color, 0%);
      color: transparent;
    }
    &:hover .bullet {
      border-color: lighten($bullet-color, 40%);
    }
  }
}

.folded {
  .line {
    .bullet {
      border-color: $bullet-color;
      background-color: $bg-color;
    }
  }
}

.drop-above::before,
.drop-below::after {
  content: '';
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  background-color: #8bc56e;
  z-index: 100;
}

.drop-above::before {
  top: -10px;
}

.drop-below::after {
  bottom: -5px;
}

.node-dragging {
  opacity: 0.4;
  .is-over {
    background-color: initial;
  }
}
