.ListNode {
  position: relative;
  margin: 0 0 0 2em;
  padding: 0.2em;
  .children {
    margin-left: 2em;
  }

  .bullet {
    position: absolute;
    left: -1.5rem;
    display: block;
    width: 1em;
    height: 100%;
    cursor: move;
    background-color: #c58438;
    color: transparent;
  }
}

.drop-inner {
  box-shadow: 0 0 4px 0 #808ead;
}

.drop-above {
  box-shadow: inset 0 2px 0 2px #808ead;
}
.drop-below {
  box-shadow: inset 0px -2px 0px 2px #808ead;
}
.node-dragging {
  opacity: 0.4;
  .DropLine {
    display: none;
  }

  .is-over {
    background-color: initial;
  }
}

.is-over {
  background-color: #fbf0ff;
}

.parent-dragging {
  background-color: #c58438;
  border: #33ffc5 1px solid;
}

.editing {
  background-color: #8bc56e;
}
