.ListNode {
  position: relative;
  margin: 0.2em 0 0.2em 2em;
  padding: 0.2em;
}

.ListNode .children {
  margin-left: 2em;
}


.ListNode .icon {
  width: 1em;
  height: 1em;
  margin: 0.2em 0.2em 0.2em 0;
  user-select: none;
  border-radius: 0.2em;
}

.ListNode .remove-item:hover {
  background-color: #ffc5c5;
}


.ListNode .create-item:hover {
  background-color: #33ffc5;
}

.ListNode .move-item:hover {
  background-color: antiquewhite;
}

.dragging {
  opacity: 0.4;
}

.dragging .DropLine {
  display: none;
}


.bullet {
  position: absolute;
  left: -1.5rem;
  display: block;
  width: 1em;
  height: 100%;
  cursor: move;
  background-color: #c58438;
  color: transparent;
}


.is-over {
  background-color: #fbf0ff;
}

.drop-inner {
  border: 0.2em dashed #c58438;
  padding: 0;
}

.dragging .is-over {
  background-color: initial;
}
